In [1]:
import glob
import os
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
#UTILITY FUNCTIONS
def swap_columns(df, col1, col2):
    col_list = list(df.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    df = df[col_list]
    return df

# BUILDING jobs_data.csv FILE (all data related to each launched job)

In [3]:
path = r'./jobs_data/cnd1/' 
all_files = glob.glob(os.path.join(path , "*.txt"))
li = []
for filename in all_files:
    print("Working on: "+filename)
    df = pd.read_csv(filename, index_col="jobid",header=None,sep=r"\s+", names=["jobid", "jobname","start_ts", "end_ts", "nodes"])
    li.append(df)

df = pd.concat(li, axis=0)#, ignore_index=True)
df['condition_n']=1
print("Found "+str(len(df))+ " jobs with condition number 1")

path = r'./jobs_data/cnd1000/' 
all_files = glob.glob(os.path.join(path , "*.txt"))
li = []
for filename in all_files:
    print("Working on: "+filename)
    df1000 = pd.read_csv(filename, index_col="jobid",header=None,sep=r"\s+", names=["jobid", "jobname","start_ts", "end_ts", "nodes"])
    li.append(df1000)

df1000 = pd.concat(li, axis=0)#, ignore_index=True)
df1000['condition_n']=1000
print("Found "+str(len(df1000))+ " jobs with condition number 1000")

df = pd.concat([df,df1000], axis=0)

df.head()

Working on: ./jobs_data/cnd1/20231203_jobs.txt
Working on: ./jobs_data/cnd1/20231202_jobs.txt
Working on: ./jobs_data/cnd1/20231124_jobs.txt
Working on: ./jobs_data/cnd1/20231125_jobs.txt
Working on: ./jobs_data/cnd1/20240102_jobs.txt
Working on: ./jobs_data/cnd1/20240103_jobs.txt
Working on: ./jobs_data/cnd1/20231227_jobs.txt
Working on: ./jobs_data/cnd1/20231129_jobs.txt
Working on: ./jobs_data/cnd1/20231128_jobs.txt
Working on: ./jobs_data/cnd1/20231204_jobs.txt
Working on: ./jobs_data/cnd1/20231205_jobs.txt
Working on: ./jobs_data/cnd1/20231123_jobs.txt
Working on: ./jobs_data/cnd1/20231122_jobs.txt
Working on: ./jobs_data/cnd1/20231130_jobs.txt
Working on: ./jobs_data/cnd1/20231229_jobs.txt
Working on: ./jobs_data/cnd1/20231228_jobs.txt
Working on: ./jobs_data/cnd1/20231201_jobs.txt
Working on: ./jobs_data/cnd1/20231127_jobs.txt
Working on: ./jobs_data/cnd1/20231126_jobs.txt
Working on: ./jobs_data/cnd1/20231121_jobs.txt
Found 3612 jobs with condition number 1
Working on: ./jobs_data/cnd1000/20231209_jobs.txt
Working on: ./jobs_data/cnd1000/20231208_jobs.txt
Working on: ./jobs_data/cnd1000/20240105_jobs.txt
Working on: ./jobs_data/cnd1000/20240104_jobs.txt
Working on: ./jobs_data/cnd1000/20231220_jobs.txt
Working on: ./jobs_data/cnd1000/20231221_jobs.txt
Working on: ./jobs_data/cnd1000/20231214_jobs.txt
Working on: ./jobs_data/cnd1000/20231215_jobs.txt
Working on: ./jobs_data/cnd1000/20231219_jobs.txt
Working on: ./jobs_data/cnd1000/20231218_jobs.txt
Working on: ./jobs_data/cnd1000/20240103_jobs.txt
Working on: ./jobs_data/cnd1000/20231226_jobs.txt
Working on: ./jobs_data/cnd1000/20231213_jobs.txt
Working on: ./jobs_data/cnd1000/20231212_jobs.txt
Working on: ./jobs_data/cnd1000/20231217_jobs.txt
Working on: ./jobs_data/cnd1000/20231216_jobs.txt
Working on: ./jobs_data/cnd1000/20240106_jobs.txt
Working on: ./jobs_data/cnd1000/20231222_jobs.txt
Working on: ./jobs_data/cnd1000/20231207_jobs.txt
Working on: ./jobs_data/cnd1000/20231206_jobs.txt
Working on: ./jobs_data/cnd1000/20231210_jobs.txt
Working on: ./jobs_data/cnd1000/20231211_jobs.txt
Working on: ./jobs_data/cnd1000/20231225_jobs.txt
Found 3623 jobs with condition number 1000

,jobname,start_ts,end_ts,nodes,condition_n
jobid,,,,,
891576,SPKFT2_nf2_cp576_tnp578_ms42240_double_lbn_r1_...,1701589448,1701589519,48*cresco6x051:48*cresco6x114:48*cresco6x147:4...,1
891577,IMeCOFT4_nf0_cp576_tnp672_ms42240_double_lbn_r...,1701589543,1701590227,48*cresco6x214:48*cresco6x113:48*cresco6x230:4...,1
891578,SPKFT4_nf0_cp576_tnp580_ms42240_double_lbn_r1_...,1701590250,1701590319,48*cresco6x299:48*cresco6x246:48*cresco6x221:4...,1
891579,IMeCOFT4_nf4_cp576_tnp672_ms42240_double_lbn_r...,1701590345,1701590957,48*cresco6x229:48*cresco6x303:48*cresco6x113:4...,1
891580,SPKFT4_nf4_cp576_tnp580_ms42240_double_lbn_r1_...,1701590976,1701591048,48*cresco6x188:48*cresco6x062:48*cresco6x081:4...,1

In [4]:
#creating a colum to report termination with/without error
df['error_code']=0

for index, row in df.iterrows():
    foundErr=False
    for dirpath, dirnames, filenames in os.walk("./results/"):
        for filename in [f for f in filenames if f==(row['jobname']+".err")]:
            errorfile=os.path.join(dirpath, filename)
            csvfile=errorfile.replace("err","csv")
            foundErr=True
            break
        if foundErr==True:
            break

    if not os.path.exists(errorfile): #err file does not exist
        print("jobid="+str(index)+": No .err file for jobname="+row['jobname']+". Setting to 1.")
        df.at[index, 'error_code'] = 1
    elif os.path.getsize(errorfile)!=0: #err file exist and has content
        print("jobid="+str(index)+": Errorfile has content for jobname="+row['jobname'])
        df.at[index, 'error_code'] = 1

    if not os.path.exists(csvfile):
        print("jobid="+str(index)+": No .csv file for jobname="+row['jobname']+".")
        if df.at[index, 'error_code']==0:
            print("error_code was 0. Setting to 1.")
            df.at[index, 'error_code'] = 1
    else: #csv file exist
        with open(csvfile, "r") as f:
            for line in f:
                pass
            try:
                csv_error_code = int(line.split(',')[3])
            except IndexError:
                print("jobid="+str(index)+": No standard format for csvfile="+csvfile) 
                continue
            if csv_error_code != 0 :
                #print("Last line is "+line)
                #print("jobid="+str(index)+": Csvfile reports csv_error_code="+str(csv_error_code)+" for jobname="+row['jobname']+". Overriding error_code="+str(df.at[index, 'error_code']))
                df.at[index, 'error_code'] = csv_error_code
         
    
df[df['error_code'] != 0].head()

jobid=891582: Errorfile has content for jobname=SPKFT8_nf0_cp576_tnp584_ms42240_double_lbn_r1_W15_20231130_023623
jobid=881812: Errorfile has content for jobname=IMeCOFT2_nf2_cp484_tnp528_ms15840_double_lbn_r1_W3_20231123_005128
jobid=881812: No .csv file for jobname=IMeCOFT2_nf2_cp484_tnp528_ms15840_double_lbn_r1_W3_20231123_005128.
jobid=937422: Errorfile has content for jobname=IMeCOFT4_nf4_cp256_tnp320_ms42240_single_lby_r1_W40_20231226_165115
jobid=887340: Errorfile has content for jobname=SPKFT1_nf1_cp484_tnp485_ms26400_double_lbn_r1_W7_20231126_083057
jobid=881573: Errorfile has content for jobname=SPKFT1_nf0_cp400_tnp401_ms15840_single_lbn_r1_W3_20231123_005057
jobid=880090: Errorfile has content for jobname=IMeCOFT1_nf0_cp144_tnp156_ms26400_double_lbn_r1_W20_20231121_222707
jobid=890918: Errorfile has content for jobname=IMeCOFT4_nf4_cp400_tnp480_ms36960_double_lby_r1_W10_20231129_150148
jobid=890920: Errorfile has content for jobname=IMeCOFT8_nf0_cp400_tnp560_ms36960_double_lby_r1_W10_20231129_150148
jobid=891473: Errorfile has content for jobname=IMeCOFT8_nf0_cp400_tnp560_ms42240_double_lby_r1_W15_20231130_023609
jobid=891475: Errorfile has content for jobname=IMeCOFT8_nf8_cp400_tnp560_ms42240_double_lby_r1_W15_20231130_023609
jobid=884941: Errorfile has content for jobname=IMeCOFT8_nf0_cp144_tnp240_ms15840_single_lby_r1_W8_20231125_072703
jobid=887027: Errorfile has content for jobname=IMeCOFT8_nf8_cp256_tnp384_ms21120_double_lby_r1_W7_20231126_083017
jobid=943450: Errorfile has content for jobname=IMeCOFT4_nf0_cp144_tnp192_ms31680_double_lby_r1_W60_20240103_225553
jobid=929723: Errorfile has content for jobname=SPKFT8_nf8_cp256_tnp264_ms21120_single_lby_r1_W20_20231220_154340
jobid=921943: Errorfile has content for jobname=IMeCOFT1_nf0_cp100_tnp110_ms21120_double_lbn_r1_W20_20231214_152559
jobid=921944: Errorfile has content for jobname=SPKFT1_nf0_cp100_tnp101_ms21120_double_lbn_r1_W20_20231214_152559
jobid=921944: No standard format for csvfile=./results/cnd1000/nobalance/SPK/double/P100/MS21120/csv/recovered/SPKFT1_nf0_cp100_tnp101_ms21120_double_lbn_r1_W20_20231214_152559.csv
jobid=921981: Errorfile has content for jobname=IMeCOFT8_nf0_cp100_tnp180_ms21120_single_lby_r1_W20_20231214_172656
jobid=921981: No standard format for csvfile=./results/cnd1000/nobalance/SPK/double/P100/MS21120/csv/recovered/SPKFT1_nf0_cp100_tnp101_ms21120_double_lbn_r1_W20_20231214_152559.csv
jobid=921982: Errorfile has content for jobname=SPKFT8_nf0_cp100_tnp108_ms21120_single_lby_r1_W20_20231214_172656
jobid=921982: No .csv file for jobname=SPKFT8_nf0_cp100_tnp108_ms21120_single_lby_r1_W20_20231214_172656.
jobid=921945: Errorfile has content for jobname=IMeCOFT1_nf1_cp100_tnp110_ms21120_double_lbn_r1_W20_20231214_152559
jobid=921945: No standard format for csvfile=./results/cnd1000/nobalance/IMeCO/double/P100/MS21120/csv/recovered/IMeCOFT1_nf1_cp100_tnp110_ms21120_double_lbn_r1_W20_20231214_152559.csv
jobid=925453: Errorfile has content for jobname=IMeCOFT1_nf0_cp400_tnp420_ms31680_single_lbn_r1_W8_20231217_205555
jobid=925474: Errorfile has content for jobname=SPKFT0_cp400_tnp400_ms31680_single_lby_r1_W8_20231217_205558
jobid=927456: Errorfile has content for jobname=SPKFT2_nf0_cp400_tnp402_ms26400_single_lby_r1_W7_20231219_052310
jobid=927456: No .csv file for jobname=SPKFT2_nf0_cp400_tnp402_ms26400_single_lby_r1_W7_20231219_052310.
jobid=928990: Errorfile has content for jobname=SPKFT1_nf1_cp400_tnp401_ms5280_double_lbn_r1_W3_20231219_214745
jobid=920081: Errorfile has content for jobname=SPKFT8_nf8_cp256_tnp264_ms21120_single_lby_r1_W7_20231213_103249
jobid=909614: Errorfile has content for jobname=SPKFT4_nf4_cp484_tnp488_ms36960_double_lbn_r1_W10_20231212_033331
jobid=924495: Errorfile has content for jobname=IMeCOFT8_nf8_cp400_tnp560_ms42240_double_lby_r1_W15_20231216_203103
jobid=924509: Errorfile has content for jobname=IMeCOFT4_nf0_cp400_tnp480_ms42240_double_lby_r1_W15_20231216_203105
jobid=924519: Errorfile has content for jobname=IMeCOFT2_nf2_cp400_tnp440_ms42240_double_lbn_r1_W15_20231216_203106
jobid=924583: Errorfile has content for jobname=IMeCOFT4_nf4_cp400_tnp480_ms36960_double_lby_r1_W10_20231216_203219
jobid=922185: Errorfile has content for jobname=SPKFT4_nf4_cp484_tnp488_ms26400_double_lbn_r1_W7_20231214_213957
jobid=924128: Errorfile has content for jobname=IMeCOFT8_nf0_cp484_tnp660_ms15840_single_lbn_r1_W3_20231216_091821
jobid=924141: Errorfile has content for jobname=SPKFT8_nf0_cp484_tnp492_ms15840_double_lby_r1_W3_20231216_091823
jobid=901735: Errorfile has content for jobname=SPKFT2_nf0_cp576_tnp578_ms10560_single_lbn_r1_W3_20231206_220607
jobid=901246: Errorfile has content for jobname=IMeCOFT2_nf0_cp64_tnp80_ms5280_double_lby_r1_W5_20231206_155543
jobid=907007: Errorfile has content for jobname=SPKFT4_nf0_cp144_tnp148_ms15840_double_lbn_r1_W8_20231211_112239
jobid=907007: No .csv file for jobname=SPKFT4_nf0_cp144_tnp148_ms15840_double_lbn_r1_W8_20231211_112239.

,jobname,start_ts,end_ts,nodes,condition_n,error_code
jobid,,,,,,
891576,SPKFT2_nf2_cp576_tnp578_ms42240_double_lbn_r1_...,1701589448,1701589519,48*cresco6x051:48*cresco6x114:48*cresco6x147:4...,1,-99
891580,SPKFT4_nf4_cp576_tnp580_ms42240_double_lbn_r1_...,1701590976,1701591048,48*cresco6x188:48*cresco6x062:48*cresco6x081:4...,1,-99
891582,SPKFT8_nf0_cp576_tnp584_ms42240_double_lbn_r1_...,1701591716,1701591788,48*cresco6x018:48*cresco6x062:48*cresco6x081:4...,1,1
891584,SPKFT8_nf8_cp576_tnp584_ms42240_double_lbn_r1_...,1701592504,1701592573,48*cresco6x206:48*cresco6x225:48*cresco6x074:4...,1,-99
891590,SPKFT1_nf1_cp576_tnp577_ms42240_single_lby_r1_...,1701593721,1701593767,48*cresco6x023:48*cresco6x246:48*cresco6x218:4...,1,-99

In [5]:
#creating a colum to report the run time (whole time by LSF, including process dipatching and termination)
df['runtime']=0
#creating a colum to report the run time of the routine call (whole time, including inizialization of the algorithm)
df['init_and_call_runtime']=0
#creating a colum to report the pure run time of the routine call (no inizialization)
df['call_runtime']=0


for index, row in df.iterrows():
    txtfile_found=False
    for dirpath, dirnames, filenames in os.walk("./results/"):
        for filename in [f for f in filenames if f==(row['jobname']+".txt")]:
            txtfile=os.path.join(dirpath, filename)
            txtfile_found=True
            #print("Examining "+row['jobname']+".txt ...")
            break
        if txtfile_found==True:
            break
   
    if txtfile_found==True: 
        with open(txtfile, "r") as searchfile:
            runtime_found=False
            call_runtime_found=False
            for line in searchfile:
                left,sep,right = line.partition('Run time :')
                if sep: 
                    #print("jobid="+str(index)+" jobname="+row['jobname']+" runtime is "+right.split('sec.')[0].strip())
                    df.at[index, 'runtime']=int(right.split('sec.')[0].strip())
                    runtime_found=True
                left,sep,right = line.partition('Call    run time:')
                if sep:
                    both=right.split('s')[0].strip().split()
                    df.at[index, 'init_and_call_runtime']=int(both[0])
                    df.at[index, 'call_runtime']=int(both[1].replace('(','').replace(')',''))
                    #print("jobid="+str(index)+" init_and_call_runtime is "+row['init_and_call_runtime']+" call_runtime is "+row['call_runtime'])
                    call_runtime_found=True
                    
            if runtime_found==False and row['error_code']==0:
                    print("jobid="+str(index)+": No 'Run time :' string in file: "+txtfile+" row['error']="+str(row['error']))
            if call_runtime_found==False and row['error_code']==0:
                print("jobid="+str(index)+": No 'Call    run time:' string in file: "+txtfile+" row['error']="+str(row['error']))
    
    if txtfile_found==False:
        print("jobid="+str(index)+": No .txt file for jobid="+str(index)+" jobname="+row['jobname'])
        #row['error']=1
df.head()

jobid=921981: No .txt file for jobid=921981 jobname=IMeCOFT8_nf0_cp100_tnp180_ms21120_single_lby_r1_W20_20231214_172656

,jobname,start_ts,end_ts,nodes,condition_n,error_code,runtime,init_and_call_runtime,call_runtime
jobid,,,,,,,,,
891576,SPKFT2_nf2_cp576_tnp578_ms42240_double_lbn_r1_...,1701589448,1701589519,48*cresco6x051:48*cresco6x114:48*cresco6x147:4...,1,-99,71,47,32
891577,IMeCOFT4_nf0_cp576_tnp672_ms42240_double_lbn_r...,1701589543,1701590227,48*cresco6x214:48*cresco6x113:48*cresco6x230:4...,1,0,685,659,652
891578,SPKFT4_nf0_cp576_tnp580_ms42240_double_lbn_r1_...,1701590250,1701590319,48*cresco6x299:48*cresco6x246:48*cresco6x221:4...,1,0,69,47,32
891579,IMeCOFT4_nf4_cp576_tnp672_ms42240_double_lbn_r...,1701590345,1701590957,48*cresco6x229:48*cresco6x303:48*cresco6x113:4...,1,0,612,588,581
891580,SPKFT4_nf4_cp576_tnp580_ms42240_double_lbn_r1_...,1701590976,1701591048,48*cresco6x188:48*cresco6x062:48*cresco6x081:4...,1,-99,72,47,32

In [6]:
df.to_csv('jobs_data.csv', float_format='%f',index=False)
print("jobs_data.csv DONE!")

jobs_data.csv DONE!

### OPTIONAL CHECK: difference between RUNTIME and end_ts - start_ts:

In [7]:
for index, row in df.iterrows():
    diff = row['end_ts'] - row['start_ts']
    if abs(diff - row['runtime'])>1 and row['error_code']==0:
        print("jobid="+str(index)+" jobname="+row['jobname']+" diff="+str(diff)+" row['runtime']="+str(row['runtime']))

jobid=884392 jobname=IMeCOFT2_nf0_cp100_tnp120_ms5280_single_lbn_r1_W5_20231125_072341 diff=8 row['runtime']=16
jobid=884600 jobname=IMeCOFT8_nf8_cp64_tnp128_ms10560_double_lby_r1_W8_20231125_072617 diff=62 row['runtime']=71
jobid=884845 jobname=IMeCOFT2_nf2_cp144_tnp168_ms10560_double_lbn_r1_W8_20231125_072650 diff=36 row['runtime']=44
jobid=884848 jobname=SPKFT4_nf0_cp144_tnp148_ms10560_double_lbn_r1_W8_20231125_072650 diff=12 row['runtime']=23
jobid=884852 jobname=SPKFT8_nf0_cp144_tnp152_ms10560_double_lbn_r1_W8_20231125_072651 diff=12 row['runtime']=20
jobid=884856 jobname=SPKFT0_cp144_tnp144_ms10560_single_lby_r1_W8_20231125_072651 diff=8 row['runtime']=17
jobid=942487 jobname=IMeCOFT1_nf1_cp144_tnp156_ms31680_double_lbn_r1_W60_20240102_150203 diff=874 row['runtime']=885
jobid=942499 jobname=IMeCOFT0_cp144_tnp144_ms36960_double_lby_r1_W60_20240102_150204 diff=1380 row['runtime']=1390
jobid=889545 jobname=IMeCOFT8_nf8_cp484_tnp660_ms31680_double_lby_r1_W8_20231128_101631 diff=288 row['runtime']=298
jobid=887315 jobname=IMeCOFT8_nf8_cp484_tnp660_ms21120_double_lby_r1_W7_20231126_083053 diff=103 row['runtime']=113
jobid=887357 jobname=IMeCOFT1_nf1_cp484_tnp506_ms26400_single_lby_r1_W7_20231126_083059 diff=77 row['runtime']=87
jobid=881373 jobname=SPKFT0_cp256_tnp256_ms15840_double_lbn_r1_W3_20231123_005032 diff=19 row['runtime']=17
jobid=881537 jobname=SPKFT1_nf0_cp400_tnp401_ms10560_single_lby_r1_W3_20231123_005052 diff=11 row['runtime']=17
jobid=881739 jobname=SPKFT2_nf0_cp484_tnp486_ms10560_double_lbn_r1_W3_20231123_005118 diff=13 row['runtime']=21
jobid=880036 jobname=IMeCOFT1_nf0_cp144_tnp156_ms21120_single_lbn_r1_W20_20231121_222700 diff=130 row['runtime']=142
jobid=880139 jobname=SPKFT8_nf0_cp100_tnp108_ms21120_double_lby_r1_W20_20231121_222713 diff=33 row['runtime']=44
jobid=940328 jobname=SPKFT1_nf0_cp144_tnp145_ms36960_double_lbn_r1_W60_20231229_014918 diff=110 row['runtime']=121
jobid=891496 jobname=SPKFT0_cp484_tnp484_ms42240_double_lbn_r1_W15_20231130_023612 diff=77 row['runtime']=88
jobid=887112 jobname=SPKFT4_nf0_cp400_tnp404_ms21120_single_lbn_r1_W7_20231126_083028 diff=16 row['runtime']=28
jobid=884888 jobname=SPKFT8_nf0_cp144_tnp152_ms10560_double_lby_r1_W8_20231125_072655 diff=11 row['runtime']=19
jobid=885147 jobname=IMeCOFT8_nf0_cp64_tnp128_ms21120_single_lbn_r1_W20_20231125_110040 diff=262 row['runtime']=272
jobid=885274 jobname=SPKFT8_nf0_cp64_tnp72_ms26400_double_lby_r1_W20_20231125_110056 diff=81 row['runtime']=92
jobid=886995 jobname=IMeCOFT1_nf0_cp256_tnp272_ms21120_single_lby_r1_W7_20231126_083013 diff=72 row['runtime']=81
jobid=902999 jobname=SPKFT2_nf0_cp576_tnp578_ms26400_single_lby_r1_W8_20231207_235419 diff=19 row['runtime']=21
jobid=929120 jobname=SPKFT2_nf0_cp400_tnp402_ms5280_single_lby_r1_W3_20231219_234405 diff=9 row['runtime']=12
jobid=915619 jobname=IMeCOFT8_nf8_cp484_tnp660_ms31680_double_lbn_r1_W8_20231212_212351 diff=293 row['runtime']=304
jobid=921917 jobname=IMeCOFT8_nf8_cp100_tnp180_ms21120_single_lbn_r1_W20_20231214_152555 diff=187 row['runtime']=199
jobid=922577 jobname=SPKFT1_nf0_cp100_tnp101_ms26400_double_lbn_r1_W7_20231215_100314 diff=55 row['runtime']=64
jobid=922582 jobname=IMeCOFT0_cp100_tnp100_ms26400_double_lbn_r1_W7_20231215_100314 diff=695 row['runtime']=704
jobid=925467 jobname=IMeCOFT1_nf1_cp400_tnp420_ms31680_double_lby_r1_W8_20231217_205557 diff=349 row['runtime']=359
jobid=925434 jobname=SPKFT4_nf0_cp400_tnp404_ms31680_double_lby_r1_W8_20231217_205553 diff=42 row['runtime']=46
jobid=926138 jobname=SPKFT8_nf0_cp64_tnp72_ms26400_single_lbn_r1_W20_20231218_143247 diff=47 row['runtime']=55
jobid=926150 jobname=SPKFT4_nf0_cp64_tnp68_ms26400_double_lbn_r1_W20_20231218_143250 diff=79 row['runtime']=90
jobid=926157 jobname=IMeCOFT2_nf0_cp64_tnp80_ms26400_double_lbn_r1_W20_20231218_143251 diff=1006 row['runtime']=1015
jobid=927007 jobname=IMeCOFT4_nf4_cp64_tnp96_ms26400_double_lby_r1_W20_20231218_173411 diff=1030 row['runtime']=1000
jobid=937031 jobname=IMeCOFT4_nf4_cp256_tnp320_ms42240_single_lby_r1_W40_20231226_011125 diff=765 row['runtime']=762
jobid=937043 jobname=IMeCOFT2_nf2_cp256_tnp288_ms42240_double_lbn_r1_W40_20231226_011127 diff=1218 row['runtime']=1229
jobid=937072 jobname=SPKFT0_cp256_tnp256_ms42240_double_lbn_r1_W40_20231226_011130 diff=100 row['runtime']=109
jobid=920227 jobname=IMeCOFT1_nf1_cp256_tnp272_ms26400_single_lbn_r1_W7_20231213_112652 diff=135 row['runtime']=152
jobid=909591 jobname=IMeCOFT8_nf0_cp484_tnp660_ms36960_single_lbn_r1_W10_20231212_033327 diff=226 row['runtime']=236
jobid=908854 jobname=IMeCOFT1_nf1_cp256_tnp272_ms10560_double_lby_r1_W3_20231211_195733 diff=21 row['runtime']=24
jobid=924515 jobname=IMeCOFT2_nf2_cp400_tnp440_ms42240_single_lbn_r1_W15_20231216_203105 diff=398 row['runtime']=409
jobid=922212 jobname=IMeCOFT1_nf1_cp484_tnp506_ms26400_single_lbn_r1_W7_20231214_214000 diff=84 row['runtime']=93
jobid=924114 jobname=IMeCOFT8_nf8_cp484_tnp660_ms10560_single_lbn_r1_W3_20231216_091820 diff=14 row['runtime']=17
jobid=924197 jobname=SPKFT2_nf0_cp484_tnp486_ms5280_double_lbn_r1_W3_20231216_091830 diff=11 row['runtime']=20
jobid=924281 jobname=SPKFT1_nf0_cp484_tnp485_ms15840_single_lby_r1_W3_20231216_091841 diff=15 row['runtime']=27
jobid=924288 jobname=IMeCOFT0_cp484_tnp484_ms5280_single_lbn_r1_W3_20231216_091841 diff=11 row['runtime']=22
jobid=902545 jobname=SPKFT2_nf0_cp100_tnp102_ms15840_double_lbn_r1_W8_20231207_173643 diff=20 row['runtime']=31
jobid=901653 jobname=SPKFT8_nf0_cp576_tnp584_ms5280_double_lby_r1_W3_20231206_220555 diff=9 row['runtime']=18
jobid=901732 jobname=IMeCOFT1_nf1_cp576_tnp600_ms10560_single_lbn_r1_W3_20231206_220606 diff=13 row['runtime']=22
jobid=908243 jobname=IMeCOFT8_nf8_cp256_tnp384_ms10560_double_lbn_r1_W3_20231211_183454 diff=23 row['runtime']=29

In [8]:
df['algorithm']=None
df['fault_tolerance']=None
df['fault_happened']=None
df['computing_proc']=None
df['total_proc']=None
df['matrix_size']=None
df['precision']=None
df['balanced']=None
df['repetition']=None
df['req_whole_time']=None
df['number_of_nodes']=None

for i in range(1,17):
    df['node'+str(i)]=0 
    

for index, row in df.iterrows():
    el=row['jobname'].split('_')
    df.at[index, 'algorithm']=el[0].split('FT')[0]
    df.at[index, 'fault_tolerance']=int(el[0].split('FT')[1])
    if df.at[index, 'fault_tolerance']!=0:
        df.at[index, 'fault_happened']= int(el[1].split('nf')[1])
        count_el=2
    else:
        df.at[index, 'fault_happened']= 0
        count_el=1
    df.at[index, 'computing_proc']=int(el[count_el].split('cp')[1])
    count_el+=1
    df.at[index, 'total_proc']=int(el[count_el].split('tnp')[1])
    count_el+=1
    df.at[index, 'matrix_size']=int(el[count_el].split('ms')[1])
    count_el+=1
    df.at[index, 'precision']=el[count_el] #single or double
    count_el+=1
    df.at[index, 'balanced']=el[count_el].split('lb')[1] #y or n
    count_el+=1
    df.at[index, 'repetition']=int(el[count_el].split('r')[1]) 
    count_el+=1
    df.at[index, 'req_whole_time']=int(el[count_el].split('W')[1]) 

    df.at[index, 'number_of_nodes']=row['nodes'].count('cresco')

    i=1
    for node in df.at[index, 'nodes'].split(':'):
        df.at[index,'node'+str(i)]=int(node.split('*')[0])
        i+=1


df.head()

,jobname,start_ts,end_ts,nodes,condition_n,error_code,runtime,init_and_call_runtime,call_runtime,algorithm,fault_tolerance,fault_happened,computing_proc,total_proc,matrix_size,precision,balanced,repetition,req_whole_time,number_of_nodes,node1,node2,node3,node4,node5,node6,node7,node8,node9,node10,node11,node12,node13,node14,node15,node16
jobid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
891576,SPKFT2_nf2_cp576_tnp578_ms42240_double_lbn_r1_...,1701589448,1701589519,48*cresco6x051:48*cresco6x114:48*cresco6x147:4...,1,-99,71,47,32,SPK,2,2,576,578,42240,double,n,1,15,13,48,48,48,48,48,48,48,48,48,48,48,48,48,0,0,0
891577,IMeCOFT4_nf0_cp576_tnp672_ms42240_double_lbn_r...,1701589543,1701590227,48*cresco6x214:48*cresco6x113:48*cresco6x230:4...,1,0,685,659,652,IMeCO,4,0,576,672,42240,double,n,1,15,14,48,48,48,48,48,48,48,48,48,48,48,48,48,48,0,0
891578,SPKFT4_nf0_cp576_tnp580_ms42240_double_lbn_r1_...,1701590250,1701590319,48*cresco6x299:48*cresco6x246:48*cresco6x221:4...,1,0,69,47,32,SPK,4,0,576,580,42240,double,n,1,15,13,48,48,48,48,48,48,48,48,48,48,48,48,48,0,0,0
891579,IMeCOFT4_nf4_cp576_tnp672_ms42240_double_lbn_r...,1701590345,1701590957,48*cresco6x229:48*cresco6x303:48*cresco6x113:4...,1,0,612,588,581,IMeCO,4,4,576,672,42240,double,n,1,15,14,48,48,48,48,48,48,48,48,48,48,48,48,48,48,0,0
891580,SPKFT4_nf4_cp576_tnp580_ms42240_double_lbn_r1_...,1701590976,1701591048,48*cresco6x188:48*cresco6x062:48*cresco6x081:4...,1,-99,72,47,32,SPK,4,4,576,580,42240,double,n,1,15,13,48,48,48,48,48,48,48,48,48,48,48,48,48,0,0,0

In [9]:
df.to_csv('jobs_data.csv', float_format='%f',index=True)
print("job_data.csv DONE!")

job_data.csv DONE!